.navbar{
  text-align: right;
  color: white;
  padding: 15px;
}

.navbar a{
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.navbar a:hover {
  padding: 20px;
  color: #910BDE;
  text-decoration: none;
  font-size: 22px;
}

.grid-container{
  margin-top: 25vh;
  display: grid;
  grid-template-columns: auto 500px auto;
  padding: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.grid-item1, .grid-item2{
  padding-right: 30px;
  padding-left: 30px;
  font-size: 30px;
  text-align: left;
}

.grid-item1{
  border-right: 5px solid white;
  height: 175px;
}

.item-1{
  margin-top: 25vh;
  margin-left: 20vw;
  width: 410px;
  border-right: 6px solid white;
}

.item-2{
  margin-left: 50vw;
}

.container{
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.project-header{
  margin-top: 100px;
  margin-left: 100px;
}

body{
  font-family: "Supria Sans", sans-serif;
  background-color: #191818;
  height: 100%;
  margin: 0px;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #910BDE;
  font-size: 100px;
}

h2{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FFFFFF;
  font-size: 50px;
}

p{
  color: #FFFFFF;
  font-size: 30px;
}

button{
  display: inline-block;
  justify-content: center;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  color: #FFFFFF;
  background-color: #910BDE;
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
}

button:hover{
  background-color: #6a2294;
  cursor: pointer;
}
